body {
  @extend .raleway;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/greyzz.png) #eee;
}

.placeholder {
  color: #cdcdcd;
  font: 28px/35px 'Lato', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
