$vspace: 15px;
$hspace: 10px;
$thunder: #09519B;
$hornets: #1D1160;
$clippers: #D7083B;
$lynx: #085181;
$sparks: #542684;
$teams: ('thunder', $thunder), ('hornets', $hornets), ('clippers', $clippers), ('lynx', $lynx), ('sparks', $sparks);
